<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HackySnack</title>

    <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  	<script type="text/javascript" charset="utf-8" src="app.js"></script>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:700" rel="stylesheet">
  </head>

  <body ng-app="myApp" ng-controller="MainController as main">
    <navbar-nav></navbar-nav>
    
    <!-- Main portion of the body -->
  <div class="container" id="main-body">
    <form name="signIn" ng-submit="signIn.$valid && submit()" ng-controller="loginController as loginCtrl" novalidate>
      <div class="form-group row">
        <div class="col-md-offset-1 col-sm-10">
          <input type="email" ng-model="loginCtrl.data.username" class="form-control" id="email" placeholder="Enter email" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-offset-1 col-sm-10">
          <input type="password" ng-model="loginCtrl.data.pwd" class="form-control" id="pwd" placeholder="Enter password" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-offset-1 col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-1 col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div><!-- End main portion of body -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
