<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HackySnack</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/hackySnack.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:700" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><span class="logo">HackySnack</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/feed">Home <span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="fa fa-user-o" aria-hidden="true" href="#"></a></li>
            <li><a class="fa fa-cog" aria-hidden="true" href="/profile-settings"></a></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" ng-model="name" />
              <button type="submit" class="btn btn-primary"> Filter</button>
            </div>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <!-- Main portion of the body -->
  <div class="container settings" ng-app="mainApp" ng-controller="editAccountController">
    <!-- ng-repeat user friend data -->
    <img src="/images/blank-profile140.png" class="img-thumbnail rounded col-xs-3 col-md-3" alt="user profile">
    <div class="container col-md-9 col-sm-9">
      <form>
        <div class="form-group checkbox-list">
          <h1 class="col-sm-12 text-center">Update Allergies</h1>
          <label class="col-sm-6 col-sm-push-2">
            <input type="checkbox"> Gluten
          </label>
          <label class="col-sm-6 col-sm-push-2">
            <input type="checkbox"> Milk
          </label>
          <label class="col-sm-6 col-sm-push-2">
            <input type="checkbox"> Wheat
          </label>
          <label class="col-sm-6 col-sm-push-2">
            <input type="checkbox"> Shellfish
          </label>
        </div>
      </form>
    </div>
    <div class="container col-md-12 col-sm-12">
      <form >
        <div class="col-sm-6">
          <label class="col-sm-12">Username: </label>
          <label class="col-sm-12">Email: </label>
          <a class="col-sm-12" href="#">Change Password</a>
        </div>
        <div class="form-group col-sm-12">
          <button type="submit"  ng-click="submit()" class="btn btn-primary btn-lg push-right">Save Changes</button>
        </div>
        </form>
      </div> <!--End the form div -->
  </div> <!-- End main portion of body -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
