body {
  background-color: #e4e4e4 !important;
  font-family: 'Noto Serif', serif;
}

section {
  color: #f2f2f2;
  -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #316589;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#main-body {
  padding-bottom: 15px;
}

#login-form {
  -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #316589;
  padding-top: 15px;
  padding-bottom: 15px;
}

.items {
  color: #ffffff;
  -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #316589;
  margin-top:20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.items a{
  color: #ffffff;
}

.items img {
  margin-right: 20px;
  min-width: 150px;
}

.friend-post {
  color: #ffffff;
  -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #316589;
  margin-top:20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.settings {
  color: #ffffff;
  -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #316589;
  margin-top:20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.settings a {
  color: #FFB656;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

input[type=text] {
  color: #000000;
}

.checkbox-list {
  font-size: 32px;
}

label {
  color: #ffffff;
}

.fa {
  font-size: 172px;
}

.logo {
  font-family: 'Orbitron', sans-serif;

}

a:hover {
  text-decoration: none;
}

.navbar-default {
  background-color: #498ec0;
  border-color: #316589;
  margin-bottom: 0px;
  color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #6FB7EA;
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #316589;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #316589;
}
.navbar-default .navbar-toggle {
  border-color: #316589;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #316589;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

.somePadding{
  padding: 2%;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #316589;
  }
}
